<div class="content purple">
                <h2 class="storyTitle whitefont">End of the Line</h2>
                <h3 class="author whitefont">Alison. L. Randall</h3>
                <hr>
                <p class="whitefont">When Frank and I stepped through the post office doors, there was a crowd gathered, gawking at the new fixture on the wall like a chorus of wide-mouthed frogs. I had to get closer, and that was where being a girl that's scrawnier than a wire fence came in handy. Fortunately, Frank, my twin of eleven years, was just the same.
<br><br>
     "Come on." I said, grabbing his hand, and we slid through the cracks between people until we spilled out in front.
<br><br>
     Finally I got a good look. It was fixed to the plaster next to the postmaster's window, the place of honor usually reserved for the Wanted posters. Beady-eyed Zedekiah Smith, the bank robber, still hung there, but even he had been pushed aside for something more important.
<br><br>
     A telephone. The first one in town.
<br><br>
     "How's it work?" Noah Crawford called out. Noah's the best fix-it man around, and I could tell he was itching to get his fingers on those shiny knobs.
<br><br>
     "Don't rightly know," answered the postmaster, and he tugged at his goatee as if it might tell him. "I do know the sound of your voice moves along wires strung on poles. It's sort of like the telegraph, only you hear words instead of dots and dashes."
<br><br>
     "Ah," the crowd murmured, and I felt my own mouth move along.
<br><br>
     I gazed at that gleaming wood box and something happened inside me. Something — I can only guess — that might be like falling in love. The thought of talking into that box — of making my voice sail through wires in the sky — it took over my brain. I couldn't get it out.
<br><br>
     "Frank," I whispered to my twin. "I have to use that telephone."
<br><br>
     Five minutes later, Frank towed me up Main Street, toward home. "Liza — " he began, but I cut him off. We two thought so much alike, I had Frank's questions answered before he even asked.
    <br><br> 
      "You're right," I said. "It costs five cents and I don't have it. But look." I pulled him over to the window of Poulson's Variety Store. "You see those?"
<br><br>
     I pointed to a handful of shimmery rocks spread on black velvet. Some were a shiny gray shot through with gold streaks, others yellow as cheese curds. And one, clear and jagged, sat like an icicle, leftover from wintertime.
<br><br>
     Frank's eyebrows screwed up and I could tell he wasn't following.
<br><br>
     "If I found one of those, I bet they'd pay me for it." I explained.
<br><br>
     With a shake of his head, Frank hooked two thumbs under his suspenders. "But Liza — "

    <br><br> I held up a hand — he couldn't tell me anything I didn't already know. "I've got that figured, too. I'll bet we could find some at North Creek — in the mine."
<br><br>
     Frank shrugged, pretending not to care, but I knew better. He wanted to explore that old mine, same as me. Besides, Frank knew he had no choice. Twins stick together, especially scrawny ones, 'cause it takes two of us to make one of most people.
<br><br>
     We spent half the morning on the dusty road to North Creek. Ma packed a lunch but said she couldn't understand walking all that way for rocks. She thought we were off to search the dry creek bed, and I didn't correct her.
<br><br>
     I felt a bit guilty about fooling my ma, but whenever a pang hit, I conjured up the vision of my voice dancing along wires in the sky. It looked a lot like me, my voice did, only wearing a pink tutu and carrying a frilly umbrella.

</p>
            </div>