<div class="content pink">
                <h2 class="storyTitle">High & Lifted Up</h2>
                <h3 class="author">Mike Krath</h3>
                <hr>
                <p>It was a windy day.<br><br>

     The mailman barely made it to the front door. When the door opened, Mrs. Pennington said, "hello", but, before she had a real chance to say "thank you", the mail blew out of the mailman's hands, into the house and the front door slammed in his face. Mrs. Pennington ran to pick up the mail.
<br><br>
     "Oh my," she said.
<br><br>
     Tommy was watching the shutters open and then shut, open and then shut.
<br><br>
     "Mom," he said, "may I go outside?"
<br><br>
     "Be careful," she said. "It's so windy today."
<br><br>
     Tommy crawled down from the window-seat and ran to the door. He opened it with a bang. The wind blew fiercely and snatched the newly recovered mail from Mrs. Pennington's hands and blew it even further into the house.
<br><br>
     "Oh my," she said again. Tommy ran outside and the door slammed shut.
<br><br>
     Outside, yellow, gold, and red leaves were leaping from swaying trees, landing on the roof, jumping off the roof, and then chasing one another down the street in tiny whirlwinds of merriment.
<br><br>
     Tommy watched in fascination.
<br><br>
     "If I was a leaf, I would fly clear across the world," Tommy thought and then ran out into the yard among the swirl of colors.
<br><br>
     Mrs. Pennington came to the front porch.
<br><br>
     "Tommy, I have your jacket. Please put it on."
<br><br>
     However, there was no Tommy in the front yard.
<br><br>
     "Tommy?"
<br><br>
     Tommy was a leaf. He was blowing down the street with the rest of his play-mates.
<br><br>
     A maple leaf came close-by, touched him and moved ahead. Tommy met him shortly, brushed against him, and moved further ahead. They swirled around and around, hit cars and poles, flew up into the air and then down again.
<br><br>

     "This is fun," Tommy thought.
<br><br>
     The maple leaf blew in front of him. It was bright red with well-defined veins. The sun-light shone through it giving it a brilliance never before seen by a little boy's eyes.
</p>
            </div>