<div class="content teal">
                <h2 class="storyTitle">Mr.Sticky</h2>
                <h3 class="author">Mo McAuley</h3>
                <hr>
                <p>
                  No one knew how Mr. Sticky got in the fish tank.
<br><br>
     "He's very small," Mum said as she peered at the tiny water snail. "Just a black dot."
<br><br>
     "He'll grow," said Abby and pulled her pyjama bottoms up again before she got into bed. They were always falling down.
<br><br><br><br>
 

In the morning Abby jumped out of bed and switched on the light in her fish tank.
<br><br>
     Gerry, the fat orange goldfish, was dozing inside the stone archway. Jaws was already awake, swimming along the front of the tank with his white tail floating and twitching. It took Abby a while to find Mr. Sticky because he was clinging to the glass near the bottom, right next to the gravel.
<br><br>
     At school that day she wrote about the mysterious Mr. Sticky who was so small you could mistake him for a piece of gravel. Some of the girls in her class said he seemed an ideal pet for her and kept giggling about it.
<br><br>
     That night Abby turned on the light to find Mr. Sticky clinging to the very tiniest, waviest tip of the pond weed. It was near the water filter so he was bobbing about in the air bubbles.
<br><br>
     "That looks fun," Abby said. She tried to imagine what it must be like to have to hang on to things all day and decided it was probably very tiring. She fed the fish then lay on her bed and watched them chase each other round and round the archway. When they stopped Gerry began nibbling at the pond weed with his big pouty lips. He sucked Mr. Sticky into his mouth then blew him back out again in a stream of water. The snail floated down to the bottom of the tank among the coloured gravel.
<br><br><br><br>
 

"I think he's grown a bit," Abby told her Mum at breakfast the next day.
<br><br>
 "Just as well if he's going to be gobbled up like that," her Mum said, trying to put on her coat and eat toast at the same time.
<br><br>
     "But I don't want him to get too big or he won't be cute anymore. Small things are cute aren't they?"
<br><br>
     "Yes they are. But big things can be cute too. Now hurry up, I'm going to miss my train."
<br><br><br><br>
 

At school that day, Abby drew an elephant. She needed two pieces of expensive paper to do both ends but the teacher didn't mind because she was pleased with the drawing and wanted it on the wall. They sellotaped them together, right across the elephant's middle. In the corner of the picture, Abby wrote her full name, Abigail, and drew tiny snails for the dots on the 'i's The teacher said that was very creative.
<br><br>
     At the weekend they cleaned out the tank. "There's a lot of algae on the sides," Mum said. "I'm not sure Mr. Sticky's quite up to the job yet."
     <br><br>
     They scooped the fish out and put them in a bowl while they emptied some of the water. Mr. Sticky stayed out of the way, clinging to the glass while Mum used the special 'vacuum cleaner' to clean the gravel. Abby trimmed the new pieces of pond weed down to size and scrubbed the archway and the filter tube. Mum poured new water into the tank.
                </p>
            </div>