 <div class="content yellow">
                <h2 class="storyTitle whitefont">Rapunzel</h2>
                <h3 class="author whitefont">Brothers Grimm</h3>
                <hr>
                <p class="whitefont">
                   There were once a man and a woman who had long, in vain, wished for a child. At length it appeared that God was about to grant their desire.
<br><br>
     These people had a little window at the back of their house from which a splendid garden could be seen, which was full of the most beautiful flowers and herbs. It was, however, surrounded by a high wall, and no one dared to go into it because it belonged to an enchantress, who had great power and was dreaded by all the world.
<br><br>
     One day the woman was standing by this window and looking down into the garden, when she saw a bed which was planted with the most beautiful rampion, and it looked so fresh and green that she longed for it. She quite pined away, and began to look pale and miserable.
<br><br>
     Her husband was alarmed, and asked: 'What ails you, dear wife?'
<br><br>
     'Ah,' she replied, 'if I can't eat some of the rampion, which is in the garden behind our house, I shall die.'
<br><br>
     The man, who loved her, thought: 'Sooner than let your wife die, bring her some of the rampion yourself, let it cost what it will.'
<br><br>
     At twilight, he clambered down over the wall into the garden of the enchantress, hastily clutched a handful of rampion, and took it to his wife. She at once made herself a salad of it, and ate it greedily. It tasted so good to her - so very good, that the next day she longed for it three times as much as before.
<br><br>
     If he was to have any rest, her husband knew he must once more descend into the garden. Therefore, in the gloom of evening, he let himself down again; but when he had clambered down the wall he was terribly afraid, for he saw the enchantress standing before him.
<br><br>
     'How can you dare,' said she with angry look, 'descend into my garden and steal my rampion like a thief? You shall suffer for it!'
<br><br>
 'Ah,' answered he, 'let mercy take the place of justice, I only made up my mind to do it out of necessity. My wife saw your rampion from the window, and felt such a longing for it that she would have died if she had not got some to eat.'
<br><br>
     The enchantress allowed her anger to be softened, and said to him: 'If the case be as you say, I will allow you to take away with you as much rampion as you will, only I make one condition, you must give me the child which your wife will bring into the world; it shall be well treated, and I will care for it like a mother.'
<br><br>
     The man in his terror consented to everything.
<br><br>
     When the woman was brought to bed, the enchantress appeared at once, gave the child the name of Rapunzel, and took it away with her.
<br><br>
     Rapunzel grew into the most beautiful child under the sun. When she was twelve years old, the enchantress shut her into a tower in the middle of a forest. The tower had neither stairs nor door, but near the top was a little window. When the enchantress wanted to go in, she placed herself beneath it and cried:
<br><br>
 

'Rapunzel, Rapunzel, 
Let down your hair to me.'
 <br><br>

     Rapunzel had magnificent long hair, fine as spun gold, and when she heard the voice of the enchantress, she unfastened her braided tresses, wound them round one of the hooks of the window above, and then the hair fell twenty ells down, and the enchantress climbed up by it.
<br><br>
     After a year or two, it came to pass that the king's son rode through the forest and passed by the tower. Then he heard a song, which was so charming that he stood still and listened. It was Rapunzel, who in her solitude passed her time in letting her sweet voice resound. The king's son wanted to climb up to her, and looked for the door of the tower, but none was to be found. He rode home, but the singing had so deeply touched his heart, that every day he went out into the forest and listened to it.
                </p>
            </div>